<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Niramit|Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/style.css" media="screen" title="no title" charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/public/js/index.js"></script>
  <title>Christopher Donner</title>
</head>
<header>
    <div class="jumbotron" style="margin:0px">

        <div class="container-fluid">

        <img src="https://github.com/christopherdonner/Portfolio-v3/blob/master/images/rigging.jpg?raw=true" top=0px; style="float:right; margin:0px; border: 0px; vertical-align: top">
            <div class="row">

            </div>

                 <div class="col-lg-4">
                        <nav class="navbar navbar-expand-lg navbar-light bg-success">
                              <ul class="navbar-nav">
                                <li class="nav-item active">
                                  <a class="nav-link" href="/contact">Contact </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="/portfolio">Portfolio</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="/">About</a>
                                </li>
                            </div>
                            </ul>
                        </nav>
                  </div>
                              <div class="row">
                 <div class="col-lg-3 offset-2">
                     <h1><a href="#" class="badge badge-success">Christopher Donner</a></h1>
                 </div>
            </div>
        </div>
         </div>
    </div>

</header>
<body>
  {{{body}}}
</body>
<footer>
    <div class="container">
            <div class="row">
            <div class="col-md-2">
                <li><a href="https://ca.linkedin.com/in/christopher-donner-07470160" style="color:black">LinkedIn</a>
                </li>
            </div>
            <div class="col-md-2">
                <li><a href="https://www.instagram.com/christopherdonner/" style="color:black">Instagram</a></li>
            </div>
            <div class="col-md-2">
                <li><a href="https://www.facebook.com/christopher.donner" style="color:black">facebook</a></li>
            </div>
            <div class="col-md-2">
                <li><a href="https://github.com/christopherdonner" style="color:black">github</a></li>
            </div>

        </div>
            <div class="col-sm-12">
                Copyright &copy; 2019
            </div>
    </div>
</footer>
</html>
